.floating-label{
	color: #1e94c8;
	font-size: 11px;
	position: relative;
	top: 0 !important;
	font-weight: normal;
	z-index: 2;
	opacity: 0; 
}

.pin{
	color: black;
}
  .form-group{
        margin-bottom:10px !important;
    }
  .floating-label{
      margin-bottom:0px !important;
  }