span.SiteDetails {
    display: block;
    width: 200px;
    height: 12px;
    font: 12px arial, verdana;
    margin: 4px 5px 4px 5px;
}

.rectangle {
    height: 300px;
    width: 270px;
    background-color: white;
    border: 2px solid grey;
    border-radius: 10px;
    overflow: scroll;
}

.rectangle3 {
    height: 300px;
    width: 270px;
    background-color: white;
    border: 2px solid grey;
    border-radius: 10px;
    overflow: scroll;
}

.rectangle1 {
    height: 100px;
    width: 200px;
    background-color: white;
    border: 2px solid grey;
    border-radius: 15px;
    border: double solid;
    margin: 15px 15px 15px 15px;
}

    .rectangle1:hover {
        color: #00476A;
    }

.fa:hover {
    color: red
}
